
.header{
  background: #27273e;
}

.container_header{
  padding: 12px 0px;
}

.header__logo-block{ 
  float: left;
  width: 50%;
  
}

.logo__link{
  display: inline-block;
}

.header__contacts-block{
  float: left;
  width: 50%;
  text-align: right;
}
.contacts{
  display: inline-block;
}

.contacts__phone{
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
}

.contacts__schedule-wrapper{
  position: relative;
  }

.contacts__schedule{
  color: #ec1e79;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s;
  display: inline-block;
  vertical-align: top; 
  padding-top: 5px;
 }

.contacts__dropdown {
  padding: 17px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
          box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
  background: #fff;
  border-radius: 3px 0 3px 3px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 155%;
  z-index: 1000;
  margin-top: 9px;
  display: none; 
 
}

.contacts__dropdown:before {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -11px;
  right: 0;
}

.contacts__dropdown:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
 
}

.contacts__dropdown__time {
  font-size: 14px;
  font-weight: bold;
  color: #ec1e79;
  font-weight: bold;
  padding-bottom: 8px;
 
}

.contacts__dropdown__break {
  font-size: 14px;
  color: #221f1f;
}

.contacts__schedule-wrapper:hover .contacts__schedule{
  color: #769dcd;
  /*opacity: 0.7;*/
} 

.contacts__schedule-wrapper:hover .contacts__dropdown{
  display: block;
}
